<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ScheduleStartUpImport" value="false"/>
    <add key="ScheduleStartUpPath" value=""/>
    <add key="ScheduleCloseSave" value="false"/>
    <add key="TextTheme" value="0"/>
    <add key="CalculatorDeleteLog" value="false"/>
    <add key="CalculatorLog" value=""/>
    <add key="CanvasAutoLoad" value="false"/>
    <add key="CanvasAutoSave" value="false"/>
    <add key="CanvasLastAdress" value=""/>
  </appSettings>
</configuration>